body{
  background-color: LightCyan;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
 h1 {color:gold} 
 h3{color:pink}
p{color:red}
h2 {color:orange}
img {border: 2px solid black;
  border-radius: 50%;
  width: 250px;
  padding:2px;
  opacity: 0.9;
}
table{background-color:DeepSkyBlue;}
ul {background-color:LightBlue;}

